<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Image Processing
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button (click)="getImage()" block outline round color="primary">เลือกภาพจาก Gallery</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="takePhoto()" full round color="secondary">ถ่ายภาพ</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <button text-center ion-button block round  *ngIf="myphoto" (click)="uploadImage()" color="danger">upload</button>
  <p align="center"><img src="{{ myphoto }}"></p><br>

  <h3 ion-text color="primary">{{place}}</h3>

  <ion-card *ngFor="let item of link">
    <img [src]="item.link"/>
  </ion-card>
</ion-content>